@import "tailwindcss";

@import "remixicon/fonts/remixicon.css";

/* Hide scrollbar */
.no-scrollbar::-webkit-scrollbar {
  display: none;
  width: 0;
  height: 0;
}
.no-scrollbar {
  -ms-overflow-style: none;  
  scrollbar-width: none;     
}
