@import "tailwindcss";

/* *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} */

body{
    overflow-x: hidden;
}

@font-face {
    font-family: font-1;
    src: url(../public/fonts/Lausanne-300.woff2);
}

@font-face {
    font-family: font-2;
    src: url(../public/fonts/Lausanne-500.woff2);
}